.search-bar {
	margin: 1em;
	display: flex;
	justify-content: center;
}

.search-inp {
<<<<<<< HEAD
	width: 100%;
=======
	width: 90vw;
>>>>>>> 37a853cd0bf4d671ea79f19b1dd94cf3ea788a3d

	padding: 0.5rem 0.1em;
}

.search-inp :focus {
	border: none;
}
